body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

.question {
    margin-bottom: 20px;
}

.question h2 {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

.prevBtn {
    background-color: #999;
}

.prevBtn:hover {
    background-color: #777;
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.resultImage {
    margin-top: 20px;
    text-align: center;
}

.resultImage img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
